node_modules
npm-debug.log
dist
*.log
.env
.env.*
!.env.example.txt
.git
.gitignore
README.md
.vscode
.idea
coverage
.nyc_output
*.md
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
src/__tests__
jest.config.js
tsconfig.json



